In [54]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
df=pd.read_csv('Clustering_csv.csv')

In [3]:
df

,Test Case ID,Test Run Id,Failed Steps,Exception Name,Step update date,Execution Time for test step,Predecessor TestCase ID,Successor TestCase ID
0,457,122,5.10,Fails to navigate step2,10-Jul-19,2019-07-10 17:16:22.324,0,457
1,457,122,5.70,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.532,457,457
2,457,122,5.80,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.622,457,457
3,457,122,5.90,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.659,457,457
4,457,122,6.10,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.746,457,457
...,...,...,...,...,...,...,...,...
247,341,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:21:05.599,320,348
248,348,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:32:49.753,341,351
249,351,122,3.60,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:34:37.606,348,350
250,350,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:40:56.263,351,336
251,336,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 10:21:28.107,350,0

In [4]:
df.isna().sum()

Test Case ID                    0
Test Run Id                     0
Failed Steps                    0
Exception Name                  0
Step update date                0
Execution Time for test step    0
Predecessor TestCase ID         0
Successor TestCase ID           0
dtype: int64

In [ ]:
#df.drop(df.tail(3).index,inplace=True)

In [42]:
df2 = pd.DataFrame(df.groupby("Test Case ID")["Exception Name"].apply(list))

In [45]:
df2 = df2.reset_index()

In [46]:
df2.shape

(127, 2)

In [60]:
df

,Test Case ID,Test Run Id,Failed Steps,Exception Name,Step update date,Execution Time for test step,Predecessor TestCase ID,Successor TestCase ID
0,457,122,5.10,Fails to navigate step2,10-Jul-19,2019-07-10 17:16:22.324,0,457
1,457,122,5.70,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.532,457,457
2,457,122,5.80,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.622,457,457
3,457,122,5.90,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.659,457,457
4,457,122,6.10,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.746,457,457
...,...,...,...,...,...,...,...,...
247,341,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:21:05.599,320,348
248,348,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:32:49.753,341,351
249,351,122,3.60,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:34:37.606,348,350
250,350,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:40:56.263,351,336
251,336,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 10:21:28.107,350,0

In [65]:
df2.rename(columns={"Exception Name": "Exception_Name"}, inplace=True)

In [66]:
df2

     Test Case ID                                     Exception_Name
0             318  [no such element: Unable to locate element: {"...
1             319           [  (Session info: chrome=75.0.3770.100)]
2             320  [Unable to find object with specified locator ...
3             323  [Verification Failed. Expected text: "Straight...
4             325  [Verification Failed. Expected text: "Step 6 o...
..            ...                                                ...
122           556  [Verification Failed. Expected text: "Straight...
123           557  [Insured Name:  Bent Larsen has been created a...
124           558  [Unable to find object with specified locator ...
125           559  [Verification Failed. Expected text: "Straight...
126           560  [Verification Failed. Expected text: "Straight...

[127 rows x 2 columns]

# Preprocessing

In [68]:
df3 = pd.merge(df, df2, on ='Test Case ID',how ='inner')

In [69]:
df3

,Test Case ID,Test Run Id,Failed Steps,Exception Name,Step update date,Execution Time for test step,Predecessor TestCase ID,Successor TestCase ID,Exception_Name
0,457,122,5.10,Fails to navigate step2,10-Jul-19,2019-07-10 17:16:22.324,0,457,"[Fails to navigate step2, Verification Failed...."
1,457,122,5.70,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.532,457,457,"[Fails to navigate step2, Verification Failed...."
2,457,122,5.80,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.622,457,457,"[Fails to navigate step2, Verification Failed...."
3,457,122,5.90,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.659,457,457,"[Fails to navigate step2, Verification Failed...."
4,457,122,6.10,"Verification Failed. Expected text: ""Manual Ha...",10-Jul-19,2019-07-10 17:16:22.746,457,457,"[Fails to navigate step2, Verification Failed...."
...,...,...,...,...,...,...,...,...,...
247,341,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:21:05.599,320,348,[Unable to find object with specified locator ...
248,348,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:32:49.753,341,351,[Unable to find object with specified locator ...
249,351,122,3.60,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:34:37.606,348,350,[Unable to find object with specified locator ...
250,350,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 09:40:56.263,351,336,[Unable to find object with specified locator ...
251,336,122,10.11,Unable to find object with specified locator (...,11-Jul-19,2019-07-11 10:21:28.107,350,0,[Unable to find object with specified locator ...

In [ ]:
Update_date=[]
for date in df['Step update date']:
    period = pd.Period(date, freq='D')
    Update_date.append(period.dayofyear)

df['Step update date']=Update_date

In [ ]:
df['Step update date'].unique()

In [ ]:
import datetime as dt

In [ ]:
#Converting the field type into Date and Time

df['Execution Time'] = pd.to_datetime(df['Execution Time for test step'])

In [ ]:
df['Execution Time'].dt.hour.head()

In [ ]:
df['exe_day'] = df['Execution Time'].dt.dayofyear

In [ ]:
df['exe_month'] = df['Execution Time'].dt.month

In [ ]:
df['exe_hour'] = df['Execution Time'].dt.hour

In [ ]:
df['exe_min'] = df['Execution Time'].dt.minute

In [ ]:
df['exe_sec'] = df['Execution Time'].dt.second

In [ ]:
df1 = df.drop(['Execution Time for test step', 'Execution Time','Test Run Id','Failed Steps'], axis=1)

In [ ]:
df1.head()

In [ ]:
'Test Run Id','Step update date','exe_month'

In [ ]:
df1.drop_duplicates(subset='Exception Name', inplace=True)

# Text Wrangling and Normalization

In [ ]:
from bs4 import BeautifulSoup
import re
import tqdm
import unicodedata

In [ ]:
#function defined to remove html tags from data

def strip_html_tags(text):
  soup = BeautifulSoup(text, "html.parser")
  [s.extract() for s in soup(['iframe', 'script'])]
  stripped_text = soup.get_text()
  stripped_text = re.sub(r'[\r|\n|\r\n]+', '\n', stripped_text)
  return stripped_text

In [ ]:
#function defined to remove unicode data

def remove_accented_chars(text):
  text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
  return text

In [ ]:
# lower case and remove special characters\whitespaces

def pre_process_corpus(docs):
  norm_docs = []
  for doc in tqdm.tqdm(docs):
    doc = strip_html_tags(doc)
    doc = doc.translate(doc.maketrans("\n\t\r", "   "))
    doc = doc.lower()
    doc = remove_accented_chars(doc)
    #doc = contractions.fix(doc)
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = re.sub(' +', ' ', doc)
    doc = doc.strip()
    doc=re.sub('[0-9]', '', doc)
    norm_docs.append(doc)
  
  return norm_docs

In [ ]:
#Data_Preprocessing

norm_exception = pre_process_corpus(df1['Exception Name'])

In [ ]:
norm_exception

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

#stop_words = stop_words
cv = CountVectorizer(ngram_range=(1, 1), min_df=0.001, max_df=0.99)
cv_matrix = cv.fit_transform(norm_exception)
cv_matrix=cv_matrix.toarray()

In [ ]:

# get all unique words in the corpus
vocab = cv.get_feature_names()
# show document feature vectors
data2=pd.DataFrame(cv_matrix, columns=vocab)

In [ ]:
data2

In [ ]:
data1=df1.drop('Exception Name', axis=1)

In [ ]:
data = pd.concat([data2,data1], axis=1)

In [ ]:
data.dropna(inplace=True)

In [ ]:
data

In [ ]:
#! pip install yellowbrick

In [ ]:
data3 = data.drop(['Test Run Id','Step update date','exe_month'], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
%matplotlib inline
from yellowbrick.cluster import KElbowVisualizer,SilhouetteVisualizer
from sklearn.cluster import KMeans
model = KMeans()
visualizer = KElbowVisualizer(model, k=(2,20))
visualizer.fit(sc.fit_transform(data3))

In [ ]:
visualizer.elbow_value_

In [ ]:
visualizer.score

In [ ]:
visualizer.silhouette_score_

In [ ]:
visualizer.n_clusters_

In [ ]:
from sklearn.cluster import KMeans
from sklearn import metrics

 

cluster_errors = []
cluster_sil_scores = []

 

cluster_range=range(2,20)

 

for Cluster in range(2,20):
    clusters = KMeans(Cluster)
    clusters.fit(sc.fit_transform(data))
    cluster_errors.append( clusters.inertia_ )

 

# combine the cluster_range and cluster_errors into a dataframe by combining them
clusters_df = pd.DataFrame( { "num_clusters":cluster_range, "cluster_errors": cluster_errors} )
clusters_df[0:15]

In [ ]:
# Elbow plot
import matplotlib.pyplot as plt
%matplotlib inline
#plt.figure(figsize=(12,6))
plt.plot( clusters_df.num_clusters, clusters_df.cluster_errors, marker = "o" )

In [ ]:
model = KMeans(6)
visualizer = SilhouetteVisualizer(model)
visualizer.fit(data)    # Fit the data to the visualizer

In [ ]:
from sklearn.cluster import KMeans

NUM_CLUSTERS = visualizer.elbow_value_
km = KMeans(n_clusters=NUM_CLUSTERS, max_iter=10000, n_init=100, random_state=42).fit(data3)
km

In [ ]:
from collections import Counter

Counter(km.labels_)

In [ ]:
df['kmeans_cluster'] = km.labels_

In [ ]:
df.drop(['exe_day','exe_month', 'exe_hour','exe_min'], axis=1, inplace = True)

In [ ]:
df

In [ ]:
#df.to_csv('kmeansop.csv')

In [ ]:
df.loc[df['Test Case ID']==457]

In [ ]:
#df.loc[df['kmeans_cluster']==0]

In [ ]:
from datetime import date
import pickle

In [ ]:
filename = 'uc29_{}'.format(date.today())

In [ ]:
filename

In [ ]:
pickle.dump(km, open(filename, 'wb'))